body {
    background-color: gray;
}

p {
    color: white;
}

.nav {
    background-color: purple;
    margin-bottom: 15px;
}
.fixed-bottom {
position: fixed;
background-color: purple;
height: 50px;
bottom: 0;
width: 100%;
}



#infobox {
    background-color: silver;
    width: 700px;
    height: 400px;
    margin-top: 150px;
    margin-left: 400px;
}